/* bordes ( border: solid black 5px;)
   negrita: font-weight: bold;
   tamaño: font-size: 20px;
   estilo de letra: font-family: ;
   interlineado: line-height: 1.6;
   foto de fondo: background-repeat: repeat -x, repeat -y; / background-repeat: no-repeat; background-position: right center; / background-size:cover;
   px: es la unidad que usan las pantallas;
   porcentaje: tomando en cuenta que 16px es 100%;
   viewport: responsive;
   1 content: el espacio para el texto;
   2 padding: separacion entre el borde y contenido de la pagina;
   3 border: el limite entre el elemento y el espacio exterior;
   4 margin: separacion entre el borde y el afuera de la caja (top,right,bottom,left);
   */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size:50px;
    font-family: 'Rubik Doodle Shadow', system-ui;
    color: pink;
}
.link{
    color: rebeccapurple;
    text-decoration: none;  
    font-family: 'Rubik Doodle Shadow', system-ui;
}
.link:hover{
    color: pink;
}
/* flex:
   display: flex;
   flex-direction: row; (declara la dirrecion alineados, y column es vertical);
   justify-content: acomoda los items
   flex-wrap: en dispositivos chicos, la fila se agrupa hacia abajo;
   aling-items: alinea verticalmente los items 
   aling-content: alinear verticalmente a los hijos cuando son multilinea;
   ul li {}
    */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header ul{
    display: flex;
    list-style-type: none;
}
.header ul li{
    padding: 20px;
}
.fotoDeFondo{
    /* display: block
       display: inline-block: me deja colocar alto y ancho, si no, solo respeta el alto y ancho del parrafo
       display: none; me desaparece el contenido
       bordes:
       dotted: borde con puntos;
       dashed: borde con linea;
       solid: en negrita;
       double: borde con dos lineas;
       groove: solo en negrita la linea de arriba;
       ridge: solo en negrita la linea de abajo;
       inset: las dos lineas de la izquierda;
       outset: las dos lineas de la derecha;
       none: sin nada;
       hidden: sin nada; */   
    display: inline-block;
    height: 300px;
    width: 300px;
    margin: 50px auto;
    background-image: url('../img/foto1.jfif');
    background-repeat: no-repeat;
    background-size:cover;
    border: solid black 5px;
    border-radius: 10px;
}
/* overflow: 
   overflow: hidde; (esconde lo que sobra de la caja)
   overflow: scroll; (aparece para ir para abajo y que aparesca todo el texto)
   overflow: auto; (solo genera la barra en el lado que es necesario el scroll)
   postion: relative (relativo a la posicion inicial); fixed (queda fijo y se mueve con la pagina); sticky (acompaña a la pagina cuando pasas por ahi)) */

.amarillo{
    height: 150px;
    width: 250px;
    background-color: yellowgreen;
    border: solid black 5px;
    position: fixed;
    top: 300px;
    left: 340px;
}
/* para mover cuadrados */
.translate{
    background-color: blueviolet;
    color: antiquewhite;
    border: solid black 3px;
    height: 250px;
    width: 250px;
    transform: translate(304px, -14px) skew(-10deg);
}
.translate:hover{
    background-color: blue;
    transition: background-color 3s;
}
/*le cambia el fondo al hacer click para ingresar el texto*/
 input:focus{
    background-color: gray;
    transition: 3s;
    height: 25px;
    }

